{% extends "main.html" %}

{% block content %}
    <ul>
    {% for repo in repositories %}
        <li>{{ repo.name }}</li>
        <ul>
            {% for name, access in repo.access.iteritems() %}
                <li>{{ name }} {{ access }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>

    <!--
    <h2>Repositories</h2>
    <select disabled id="repositories"><option>Loading...</option></select>
    <br/>
    <select disabled multiple id="users"></select><br/>
    <textarea id="user"></textarea>
     -->
    <ul>
{% endblock %}
