{% extends "main.html" %}

{% from "macros.html" import render_field with context %}

{% block content %}
    {{ func }}
    {% if func == "new" %}

        <form action="/users/new" method="post">
            {{ render_field(form.name) }}
            {{ render_field(form.pubkey_tag) }}
            {{ render_field(form.pubkey) }}
            {{ render_field(form.submit) }}
            {{ form.csrf_token }}
        </form>

    {% elif func == "add" %}

        <form action="/users/{{ user.name }}/add" method="post">
            {{ render_field(form.pubkey_tag) }}
            {{ render_field(form.pubkey) }}
            {{ render_field(form.submit) }}
            {{ form.csrf_token }}
        </form>

    {% else %}

        {% for name, user in users %}
            <h3><a href="{{ url_for('users_page') }}/{{ user.name }}">{{ user.name }}</a></h3>
            <table>
            {% for keyfile in user.keyfiles %}
                <tr>
                <td><input type='checkbox'></td>
                <td>{{ keyfile }}</td>
                </tr>
            {% endfor %}
            <tr>
            <td></td>
            <td><a href="{{ url_for('users_page') }}/{{ user.name }}/add">Add a new key</a></td>
            </tr>
            </table>

        {% endfor %}
        <a href="{{ url_for('users_page') }}/new">Add a new user</a>

    {% endif %}

{% endblock %}
