<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery-3.1.0.min.js"></script>
        <script src="/js/zanthia.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>Zanthia</title>
    </head>
    <body>

    <header>
        <h1>Zanthia</h1>
    </header>

    <nav>
        <ul>
        {% for item in mainnav %}
            <li{% if page == item.page %} class="active"{% endif %}><a href="/{{ item.page }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    <section>
    {% block content %}
        {% set template = 'pages/' + page + '.html' %}
        {% include template %}
    {% endblock %}
    </section>
<!--
    <select id="user">
    {% for user in users %}
        <option id='{{ user.name }}'>{{ user.name }}</option>
    {% endfor %}
    </select>

    <h2>Groups</h2>
    {% for row in groups %}
    {{ row }}
    <br/>
    {% endfor %}
-->
    <h2>Config</h2>
    <pre>
    {{ config }}
    </pre>
    </body>
</html>
